<% if @user == current_user %>
<h1>Welcome <%=@user.username%>!</h1>


    <% if @figure.length == 0 %>
        <h3><%= link_to "Create your Funko POP Collection", products_path %></h3>
    <%else%>
        <h1> My Funko POP Collection: </h2>
        <%= render 'collection' %>
    <% end%>

    <p><%= link_to "See all Funko POP Figures available", figures_path %></p>
    <p><%= link_to "See other users Collections!", users_path %></p>
    <p><%= link_to "Log out", logout_path, method: "delete" %></p>

<% else %>

    <h1><%= @user.username%></h2>
    <%= render 'collection' %>
   
<%end%>

